.aval-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
        margin-top: 2em;
        margin-bottom: 2em;
        border: 1.8px solid #000;
        border-radius: 1em;
        padding: 1em 2em;
        width: fit-content;
        height: fit-content;
        position: relative;
    }   

    .titulo {
        display: flex;
        align-items: center;
    }
    .titulo hr {
        border: none;
        border-radius: .5em;
        background-color: #E52A45;
        margin: 0;
        height: 2em; width: .4em;
    }
    .titulo h2 {
        font-family: "Dela Gothic One", cursive;
        font-size: 16px;
        margin-left: .5em;
    }
    .titulo span {
        font-family: "Dekko", cursive;
        font-size: 20px;
        margin-left: .3em;
        color: #E52A45;
    }
    .inputs {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .inputs h2 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 15px;
    }
    .inputs textarea {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #000;

        padding-left: .6em;
        border: 1px solid #DFDFDF;
        border-radius: .3em;
        margin: 1em;
    }
    .inputs textarea::placeholder {
        color: #CCCCCC;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    .nota h2 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 15px;
    }
    .opcoes {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-bottom: 1em;
    }
    .opcoes button {
        text-align: center;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        
        width: 50px;
        height: 30px;
        
        background-color: #E52A45;
        border: transparent;
        border-radius: 3px;
        cursor: pointer;
    }
    .btns-final {
        
        margin-top: 2em;
        
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    .btns-final button {
        text-align: center;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
        
        width: 100px;
        height: 36px;
        margin-right: 1em;
        
        background-color: #E52A45;
        border: transparent;
        border-radius: 3px;
        cursor: pointer;
    }
}