.page-consultar-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .comps{
        width: 100%;
    }


/* COMEÇO SECTION EXPLICANDO A CONSULTA DE PRODUTO DO SITE */
    .sec-explicando-page{
        margin-top: 1.2em;
        margin-bottom: 2.5em;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .div-ul{
        margin-left: -1.5em;
    }
/* FIM SECTION EXPLICANDO A CONSULTA DE PRODUTO DO SITE */


/* COMEÇO CARDS DOS PRODUTOS */
    .div-card-produto{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        word-break: break-all;

        margin-bottom: 1.5em;
        padding: 1.5em 1.5em;
        width: 65%;

        border: 1px solid #696969;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .div-produto{
        width: 11.2em;
    }
    .div-tipo{
        width: 7em;
        margin-left: 3em;
    }
    .div-marca{
        width: 10em;
        margin-left: 1.7em;
    }
    .div-preco{
        margin-left: 4em;
        width: 7em;
    }
    .div-disponivel{
        width: 7em;
        margin-left: 3em;
    }

    .div-editar-deletar button{
        width: 2em; height: 2em;
        cursor: pointer;

        border: transparent;
        background-color: inherit;
    }
    .editar-button{
        margin-right: .2em;
    }
/* FIM CARDS DOS PRODUTOS */
}
