.logo {
    height: 18.7em;
    margin-top: 11em;
    margin-left: 4em;
}

.barra_lateral {
    border: solid #E52A45;
    background-color: #E52A45;
    height: 100em;
    width: 10px;
    margin-left: ;
    
    
}