.div-produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    width: 80%;
    margin-top: 6em;

    .span-tamanho{
        font-family: 'Dekko', sans-serif;
        font-size: 20px;
    }

    .div-infos-carrinho-item{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    .img-produto{
        // border: .5px solid #000000;
        margin-left: 4em;
        width: 270px; height: 220px;
        border: transparent;
        border-radius: 5px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .nome-produto{
        width: 30%;
        word-break: break-all;
        font-size: 20px;
        font-family: 'Dekko', sans-serif;
    }
    .preco-produto{
        font-size: 20px;
        font-family: 'Dela Gothic One', cursive;
    }
    .select-carrinho-item{
        width: 2.5em; height: 2.5em;
    }

    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;

        .div-infos-carrinho-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 3em;
        }
        .img-produto{
            width: 200px; height: 150px;
        }
        .nome-produto{
            width: 100%;
            word-break: break-all;
            font-size: 20px;
            font-family: 'Dekko', sans-serif;
        }

        .botao-excluir{
            color: #E52A45;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;

        .div-infos-carrinho-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 3em;
        }
        .img-produto{
            width: 160px; height: 130px;
        }
        .nome-produto{
            width: 100%;
            word-break: break-all;
            font-size: 20px;
            font-family: 'Dekko', sans-serif;
        }
    }
}