.slider-container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;

    .carousel-control-next{
        display: none;
    }
    .carousel-control-prev{
        display: none;
    }

    .carousel-indicators li{
        width: 14px;
        height: 14px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 100%;
    }

    text{
        font-family: 'Inter', sans-serif;
    }

    .imgs{
        width: 100%; height: 100%;
    }

    .div-vantagens{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }
    .div-infos{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .lg-vantagens:not(.img-03){
        width: 50px; height: 50px;
        margin-right: .6em;
    }
    .img-03{
        width: 70px; height: 70px;
    }

    .lg-vantagens:not(.img-01){
        margin-left: 7em;
    }
    p{
        display: flex;
        flex-direction: column;

        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }
    span{
        color: #E52A45;
    }

    hr{
        width: 100%;
        border: 1px solid #000000;
    }
}