.main-carrinho{
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;

/* COMEÇO SECTION 1 */
    .sec-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec-1 > p{
        font-size: 30px;
        font-family: 'Dela Gothic One', cursive;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    .sec-1 hr{
        margin-top: -6em;
        width: 90%;
        border: 1px solid #000000;
        transform: rotate(-0.09deg);
    }
/* FINAL SECTION 1 */


/* COMEÇO SECTION 2 */
    .sec-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3em;
    }

    .div-left{
        margin-left: 5em;
    }
    .div-left span{
        font-size: 20px;
        font-family: 'Dela Gothic One', cursive;
    }
    .div-left p{
        font-size: 18px;
        font-family: 'Dekko', sans-serif;
    }

    .div-right{
        margin-right: 5em;
    }
    .div-right > text{
        font-size: 20px;
        font-family: 'Dela Gothic One', cursive;
    }
    .div-right span{
        font-size: 18px;
        font-family: 'Dekko', sans-serif;
    }
    .div-right hr{
        width: 556px;

        border: 1px solid #000000;
        transform: rotate(0.21deg);
    }

    .div-subtotal,
    .div-frete {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1em;
    }

    .div-total{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .div-total > span{
        font-size: 18px;
        font-family: 'Dekko', sans-serif;
    }
    .div-total > div{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .div-total div > text{
        margin-bottom: .5em;
        font-size: 22px;
        font-family: 'Dela Gothic One', cursive;
    }
    .div-total div > p{
        line-height: .1em;
        font-size: 14px;
        font-family: 'Dekko', sans-serif;
    }
/* FINAL SECTION 2 */


/* COMEÇO SECTION 3 */

    .sec-3 button{
        width: 15em;
        height: 3em;
        margin: 1em 4.4em 10em 0;
        float: right;

        background-color: #E52A45;
        border: transparent;
        border-radius: .5em;

        font-size: 18px;
        font-family: 'Dela Gothic One', cursive;
        color: #ffffff;
    }

/* FINAL SECTION 3 */
}