.comp-card-endereco {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #5e5e5e;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    height: 170px;

    .tipo {
        font-weight: 700;
        margin-bottom: 10px;
    }
    .end,.cep {
        font-size: 16px;
    }
    .cep {
        margin-top: 10px;
        font-weight: 500;
    }
    

    @media (max-width: 768px) {
        width: 100%;
    }
}