h2,
h3,
span{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.rodape-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E9E9E9;
    
    .div-separa-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    h2{
        font-size: 24px;
        margin-bottom: 1.2em;
    }
    h3{
        font-size: 20px;
        margin-bottom: .7em;
    }

    .logo-rodape{
        width: 8.6em;  height: 8em;
    }
    .contato,
    .rdsc,
    .icon-pag-a-vista,
    .icon-pag-a-prazo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }


/* INICIO div de contatos */
    .div-contatos{
        text-align: center;
    }
    .div-contatos img{
        width: 2em;  height: 2em;
    }
    .div-contatos span:not(.span-telefone){
        margin-left: 1em;
    }
    .span-telefone{
        margin-left: 2em;
    }

/* INICIO div das redes sociais */
    .div-rdsc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-rdsc img{
        width: 3em;  height: 3em;
    }
    .facebook-rodape{
        margin-left: .5em;
    }
/* FINAL div das redes sociais */


/* INICIO div dos pagamentos */
    .icon-pag-a-vista img{
        width: 3em;  height: 3em;
    }
    .icon-pag-a-vista img:not(.boleto){
        margin-left: .8em;
    }

    .h3-pag-a-prazo{
        margin-top: 1em;
    }
    .icon-pag-a-prazo{
        flex-wrap: wrap;
        width: 14em;
    }
    .elo{
        margin-left: .6em;
    }
    .diners-club{
        margin-left: .2em;
    }
    .mercado-pago{
        margin-left: .5em;
    }
    .icon-pag-a-prazo .icon{
        width: 3em;  height: 3em;
    }
    .icon-pag-a-prazo .icon2{
        width: 4em;  height: 3em;
    }
/* FINAL div dos pagamentos */
}