.main-ajuda{
    display: flex;
    flex-direction: column;
    width: 100%;

    .bot{
        display: flex;
        flex-direction: row;
        width: 100%;    
    }
    .comp-menu{
        width: 20%;
    }

    .div-bot{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 2em; margin-top: .9em;
    }

    .bot-inicial{
        display: flex;
        flex-direction: row;
    }

    .texto-bot{
        width: 214px;
        height: fit-content;
        
        background: #E9E9E9;
        border-radius: 10px;
        margin-left: 1em;
        padding-left: 20px;
    }

    .bot-inicial img{
        margin-top: 3em;
    }

    .texto-bot p{
        width: 192px;
        font-family: 'Dekko', sans-serif;
    }
    .bolinha{
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        margin-top: 0.5em;

        width: 2.5em; height: 2.5em;
        background-color: #E52A45;
        border-radius: 50%;
        border: transparent;

    }
    .bolinha text, .bolinha h2{
        color: #ffffff;
        font-family: 'Dekko', cursive;
        font-size: 20px;
    }
    
    .resposta{
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 2.5em;
        margin-top: 17.2em;
    }

    .map{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2em;
    }
    .texto-dificuldade{
        font-family: 'Dekko', cursive;
        width: max-content;
        background: #E9E9E9;
        border-radius: 10px;
        margin-right: 1em;
        padding: 0px 20px;    
    }

    .opcoes-bot{
        margin: 5em 10em;
        background: #E9E9E9;
        border-radius: 3px;
        width: 33.5em;
        padding: 30px 30px;
    }

    .div-opcoes-bot{
        display: flex;
        flex-direction: row;
        width: 50em;
        text-align: center;

        border-radius: 3px;
    }

    .div-opcoes-bot button{
        border: none;
        color: #ffffff;
        background: #E52A45;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        
        font-family: 'Dekko', sans-serif;
        padding: 1em;
    }
    .div-opcoes-bot button:not(.btn-not){
        margin-left: 6em;
    }

    .resposta-bot{
        left: 17.8em;
        margin-top: 4.2em;
        display: flex;
        flex-direction: column;
    }

    .bot-resposta{
        display: flex;
        flex-direction: row;
    }

    .bot-resposta img{
        margin-top: 7em;
    }
    .texto-bot-resposta{
        width: 214px;
        height: fit-content;
        
        background: #E9E9E9;
        border-radius: 10px;
        margin-left: 1em;
        padding-left: 20px;
    }

    .texto-bot-resposta p{
        width: 192px;
        font-family: 'Dekko', sans-serif;
    }

    .titulo-dados h1{
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
    }
    .titulo-dados label{
        font-family: 'Dekko';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }
    .titulo-dados{
        width: 50em;
        border-bottom: 1px solid #000;
        margin-bottom: 2em;
    }
}