@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
.Div-Pai-fixo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;

    .Titulo{
        font-family: 'Dela Gothic One', cursive;
        font-size: 40px;
        color: #000;
    }

    .Subtitulo{
            width: 600px;
            height: 58px;
            left: 279px;
            top: 2027px;
            margin-top: 3em;

            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: center;

            color: #000000;

    }
    .div-principal-fixa{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .div-principal-fixa img{
        margin-top: 5em;
        width: 324px;
        height: 343px;
    }
    .espaco-entre-eles{
        margin-right: 10em;
    }
    .desc-fixo{
        margin-top: 2em;
        text-align: center;
        font-family: 'Dela Gothic One', cursive;
        color: #000;
    }
    .linha{
        border: 1px solid #000000;
        margin-bottom: 5em;
        margin-top: -0.5em;
    }
}