.main-endereco{
    display: flex;
    flex-direction: column;
    width: 100%;

    .sec-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 5em;
    }

    .div-endereco{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 5em;
    }

    .titulo-enderecos h1{
        font-family: 'Dela Gothic One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }
    .titulo-enderecos label{
        font-family: 'Dekko';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }
    .titulo-enderecos{
        width: 95%;
        border-bottom: 1px solid #000;
    }

    .card-endereco{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 2em;
    }

    .add-endereco button{
        border:  1px solid #000;
        background-color: #E52A45;
        color: #FFFFFF;
        font-size: 1em;
        font-family: 'Inter';
        padding: 0.5em;
        border-radius: 5px;
    }
}